.navbar {
    background: #862633;
    border:transparent;
}
.navbar-brand {
    padding: 5px;
}
.navbar-text {
    margin:0px;
    margin-left: 15px;
    padding:8px;
}

/*
The default Bootstrap "row" class has a negative margin. This causes unwanted scrolling on small screens,
particularly in mobile browsers.
*/
.row {
    margin: 0;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: none;

    /*required for proper track sizing in FF*/
    width: 260px;

    background:transparent;

    position:absolute;top:4.5em;left:20px;z-index:2;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #aaa;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #003A70;
    margin-top: -14px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #aaa;
}

input[type=range]::-moz-range-track {
    width: 260px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: 1px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #003A70;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}