<!--contact-group.html is specifically for Q10.-->

<div class="row" style="margin-bottom:2em">
    <div class="col-sm-3"></div>  <!--empty bootstrap groups center the element we actually want to view-->
    <div class="col-sm-3">
        <b>{{group.parts[0].label}}</b>
    </div>
    <div class="col-sm-3">
        <!--changing the fontsize prevents mobile screens from resizing when typing-->
        <input class="form-control" style="font-size:16px" ng-model="page.responses.d[group.parts[0].partNum].v"/>
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="row" style="margin-bottom:2em">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <b>{{group.parts[1].label}}</b>
    </div>
    <div class="col-sm-3">
        <!--changing the fontsize prevents mobile screens from resizing when typing-->
        <input class="form-control" style="font-size:16px" ng-model="page.responses.d[group.parts[1].partNum].v"/>
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="row" style="margin-bottom:2em">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <b>{{group.parts[2].label}}</b>
    </div>
    <div class="col-sm-3">
        <!--changing the fontsize prevents mobile screens from resizing when typing-->
        <input class="form-control" style="font-size:16px" ng-model="page.responses.d[group.parts[2].partNum].v"/>
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="row" style="margin-bottom:2em">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <b>{{group.parts[3].label}}</b>
    </div>
    <div class="col-sm-3">
        <!--width:100% changes the width of the dropdown to match the rest of the inputs-->
        <select ng-model="page.responses.d[group.parts[3].partNum].v" style="width:100%;font-size:16px">
            <option ng-repeat="opt in group.parts[3].dropOptions" value="{{opt}}">{{opt}}</option>
        </select>
    </div>
    <div class="col-sm-3"></div>
</div>

<div class="row" style="margin-bottom:2em">
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
        <b>{{group.parts[4].label}}</b>
    </div>
    <div class="col-sm-3">
        <!--width:100% changes the width of the dropdown to match the rest of the inputs-->
        <select ng-model="page.responses.d[group.parts[4].partNum].v" style="width:100%;font-size:16px">
            <option ng-repeat="opt in group.parts[4].dropOptions" value="{{opt}}">{{opt}}</option>
        </select>
    </div>
    <div class="col-sm-3"></div>
</div>