.navbar {
    background: #862633;
    border:transparent;
}
.navbar-brand {
    padding: 5px;
}
.navbar-text {
    margin:0px;
    margin-left: 15px;
    padding:8px;
}
.img-responsive {
    height: 40px;
}

/*
IE needs its own CSS file because of the input with type=range - the sliders for Q5.
Because it counts the position of the slider differently from other browsers, IE tends to have the slider moved
farther down than Chrome, Firefox, or Safari. As such, the "top" displacement is 2.75em as opposed to 4.5em in other browsers.
*/
input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    border: none;

    /*required for proper track sizing in FF*/
    width: 260px;

    background:transparent;

    position:absolute;top:2.75em;left:20px;z-index:2;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    color:transparent;

    /*remove default tick marks*/
    /*color: transparent;*/
}
input[type=range]::-ms-fill-lower {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: 1px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: #003A70;
}
input[type=range]::-ms-tooltip {
    display: none;
}