﻿<!DOCTYPE html>

<html lang="en" ng-app="surveyBody">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta http-equiv='cache-control' content='no-cache'>

    <meta http-equiv='expires' content='0'>

    <meta http-equiv='pragma' content='no-cache'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="application.css" />
    <script type="text/javascript">
        var browser=(function(){
            var ua= navigator.userAgent, tem,
                    M= ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
            if(/trident/i.test(M[1])){
                tem=  /\brv[ :]+(\d+)/g.exec(ua) || [];
                return 'IE '+(tem[1] || '');
            }
            if(M[1]=== 'Chrome'){
                tem= ua.match(/\b(OPR|Edge)\/(\d+)/);
                if(tem!= null) return tem.slice(1).join(' ').replace('OPR', 'Opera');
            }
            M= M[2]? [M[1], M[2]]: [navigator.appName, navigator.appVersion, '-?'];
            if((tem= ua.match(/version\/(\d+)/i))!= null) M.splice(1, 1, tem[1]);
            return M.join(' ');
        })();
        browser = browser.split(" ")[0];
        if (browser.toUpperCase() == "IE" || browser.toUpperCase() == "MSIE") {
            document.write("<link type=\"text/css\" rel=\"stylesheet\" href=\"IE.css\">");
        }
        else {
            document.write("<link type=\"text/css\" rel=\"stylesheet\" href=\"application.css\">");
        }
    </script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
        body {
            background-color: #e8e8e8;
        }
    </style>
    <title></title>
</head>

<body ng-controller="PageController as page">

<!--
This is the navbar at the top of the page.
It contains two things - the JLI logo and the progress bar for the survey.
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>--> <!--leftover code - this button is meant to work when the page is on a small screen-->
            <a class="navbar-brand" href="#"> <!--the JLI logo-->
                <img alt="Brand" style="width:150px;height:40px" src="images/jli-logo.jpg">
            </a>
            <!--<a class="navbar-brand" href="#">-->
            <!--<h2 class="navbar-text">CET Manager</h2>-->
            <!--</a>-->

        </div>

        <!--
        progress bar - only show when survey has been started
        because there are 10 questions, each question represents 10% completion
        -->
        <div class="progress" style="margin-top:15px" ng-show="page.accessComplete">
            <div class="progress-bar progress-bar progress-bar-striped active" role="progressbar" id="progress"
                 aria-valuenow="{{10*page.activeQuestion}}" aria-valuemin="0" aria-valuemax="100"
                 style="width:10%;min-width: 0em;">
                {{10*page.activeQuestion}}%
            </div>
        </div>

        <!--<div id="navbar" class="navbar-collapse collapse">
            <form id="loginForm" class="navbar-form navbar-right" ng-show="!page.accessComplete">

            </form>
        </div>--><!--/.navbar-collapse -->
        <!--remnants from when the navbar included a login section-->
    </div>

</nav>

<!--
This is the main body of the page. It includes containers for both the survey intro page
and the survey questions.
-->
<div class = "text-center" style="margin-top: 130px; margin-bottom: 45px;">
    <!--
    This is the container for the intro page to the survey.
    -->
    <div class="container" ng-show="!page.accessComplete">
        <!--page.accessComplete controls whether the intro page or the questions are showing-->

        <!--English text for intro page-->
        <div ng-show="page.langSelected==='English'">
            <p style="font-size:large"><b>Thank you for your recent visit. Jiffy Lube takes pride
                in its commitment to customers and wants you to drive away satisfied. Thank you for sharing input
                to help Jiffy Lube meet your expectations.</b></p>
            <p style="font-size:large"><b style="color:#862633">This survey should take just a few minutes of your time.</b></p>
            <br style="margin-bottom:2em"><br>

        </div>

        <!--Spanish text for intro page-->
        <div ng-show="page.langSelected==='Spanish'">
            <p style="font-size:large"><b>Gracias por su visita al centro de servicio Jiffy Lube.
                Jiffy Lube toma muy enserio su compromiso con los clientes y desea que usted salga manejando satisfecho.
                Le agradecemos sus comentarios, los cuales nos ayudaran a lograr que Jiffy Lube responda a sus expectativas.</b></p>
            <p style="font-size:large"><b style="color:#003A70">Esta encuesta deberá tomar unos cuantos minutos.</b></p>
            <br style="margin-bottom:2em"><br>

        </div>

        <!--
        English/Spanish language selection buttons.
        These are stored in a table to help line them up properly.
        Currently the Spanish button has the "disabled" property because the Spanish translation is not up to date.
        It was not possible to immediately start the survey upon clicking an "English" or "Spanish" button due to
        HTML DOM issues with the page.injectQuestions() method.
        -->
        <form>
            <table class="table" style="max-width:200px;margin:auto;border:none">
                <tr style="border:none">
                    <td style="border:none">English</td>
                    <td style="border:none"><label><input type="radio" name="lang" ng-click="page.changeVersion('English',page.surveyVersion);" checked ></label></td>
                    <td style="border:none"><label><input type="radio" name="lang" ng-click="page.changeVersion('Spanish',page.surveyVersion);"  id="spanishR"></label></td>
                    <td style="border:none">Español</td>
                </tr>
            </table>
        </form>

        <!--
        This is the "begin" button.
        Upon clicking it, the page.injectQuestions() method is run, which uses DOM methods to insert the question texts
        into the appropriate tag in the code.
        The button also sets page.accessComplete to true, which indicates that the intro page has been completed.
        -->
        <div><br style="margin-bottom:2em"></div>
        <button type="submit"
                class="btn btn-default"
                id="begin"
                style="background-color:#862633;color:#ffffff"
                ng-click="page.accessComplete=true;page.injectQuestions();">
            Begin
        </button>
        <br style="margin-bottom:2em">
    </div>

    <!--This is the container for the questions.
    It loops through a list of the questions, then each set of groups within the questions, and uses ng-include to
    incorporate the appropriate HTML file for the question.-->
    <div class="container" style="padding:5px" ng-show="page.accessComplete && !page.surveyComplete">
        <!--<div ng-repeat="point in page.responses.d"><p>{{point}}</p></div>-->

        <!--Some debug code which I found very useful - it loops through and displays all the responses to the questions-->
        <form role="form">
            <div ng-repeat="question in page.products" ng-show="page.activeQuestion===question.qNum">
                <span style="font-size:40px;color:#862633">Q{{question.qNum}}.</span> <!--the question number-->
                <span class="form-group" ng-repeat="group in question.groups">
                    <span id="qText{{group.groupNum}}"></span> <!--blank <span> tag as a reference point to insert question texts-->
                    <br><br>
                    <span ng-include="page.makeURL(group.questionType)"></span> <!--include appropriate HTML file-->
                </span>
            </div>
        </form>

        <!--
        The ButtonController shows hides the Prev, Next, and Submit buttons depending on which question the user is on.
        It also increments/decrements the question number when a button is pressed, allowing the user to actually
        navigate the survey.
        The "next" button will be disabled for required questions as long as the user has not changed the form field's
        value from its hard-coded default value.
        -->
        <div ng-controller="ButtonController as butt">
            <button class="btn btn-default"
                    id="prevbtn"
                    type="button"
                    ng-click="page.setTimeStamp(page.activeQuestion-1);butt.decrementQuestion(page);page.setProgressBar();"
                    ng-show="!butt.isFirstQuestion(page)">Prev</button>
            <button class="btn btn-default"
                    id="nextbtn"
                    type="button"
                    style="background-color:#862633;color:#ffffff"
                    ng-click="page.setTimeStamp(page.activeQuestion-1);butt.incrementQuestion(page);page.adjustDependence();page.setProgressBar();page.updateToken()"
                    ng-disabled="!page.questionComplete()"
                    ng-show="!butt.isLastQuestion(page)">Next</button><!---->
            <button type="submit"
                    class="btn btn-default"
                    id="submit"
                    style="background-color:#862633;color:#ffffff"
                    ng-click="page.surveyComplete=true;"
                    ng-show="butt.isLastQuestion(page)">Submit</button>
        </div>
    </div>

    <!--
    This is a container for a thank-you page. It is currently defunct because the "submit" button automatically
    redirects to a separate Jiffy Lube page.
    -->
    <div class="container" ng-show="false">
        <p style="color: #003A70; font-size: x-large;margin-top:3em">Thank you for completing our survey!</p>
        <p>You will be redirected shortly to a coupon for your next visit.</p>
    </div>
</div>


</body>
</html>