<!--This file is specific for Q5-->

<div class="container container-fluid">
    <!--reduce row padding to fit question on smaller screens-->
    <div class="row" style="padding:10px" ng-repeat="part in group.parts">
        <div class="col-sm-3"></div>
        <!--Styling in the <div> and <b> tags ensures that the text is centered compared to the sliders-->
        <div class="col-sm-3" style="height:7em;line-height: 7em;
  text-align: center;"><b style="display: inline-block;vertical-align: middle;line-height: normal;">{{part.label}}</b></div>
        <div class="col-sm-3" style="padding: 0">

            <!--white background behind slider-->
            <div style="margin:auto;text-align:center;position:relative;width:300px;height:7em;background:white;border-radius: 5px">
                <!--"strongly disagree"-->
                <div style="text-align:left;width:50px;height:1em;position:absolute;top: .25em;left:5px;z-index: 1;font-size:12px;">{{part.sliderPair[0]}}</div>
                <!--"strongly agree"-->
                <div style="text-align:right;width:50px;height:1em;position:absolute;top: .25em;right:5px;z-index: 1;font-size:12px;">{{part.sliderPair[1]}}</div>
                <!--the slider-->
                <input  type="range" min="-10" max="10" value="0" step="0.1" ng-model="page.responses.d[part.partNum].v"/>
                <!--center tick mark on slider-->
                <div style="border-right: 2px solid #aaa;width:131px;height:2.75em;position:absolute;top:3.25em;left:20px;z-index: 1;"></div>
                <!--extreme left/right ticks on slider-->
                <div style="border-left: 2px solid #aaa;border-right: 2px solid #aaa;width:260px;height:2.75em;position:absolute;top:3.25em;left:20px;z-index: 1;"></div>
                <!--intermediate left/right ticks on slider-->
                <div style="border-left: 2px solid #aaa;border-right: 2px solid #aaa;width:131px;height:1.75em;position:absolute;top:3.75em;left:85px;z-index: 1;"></div>
            </div>
            <!--gives some space between sliders-->
            <br style="margin-bottom:20px">
        </div>
        <div class="col-sm-3"></div>

    </div>
</div>
<br>

