<!--IE9 only. Replaces the sliders in Q5 with radio buttons.-->

<div class="container container-fluid">
    <div class="row" ng-repeat="part in group.parts">
        <div class="col-sm-2"></div>
        <!--Styling in the <div> and <b> tags ensures that the text is centered compared to the radio buttons-->
        <div class="col-sm-4" style="height:7em;line-height: 7em;
  text-align: center;"><b style="display: inline-block;vertical-align: middle;line-height: normal;">{{part.label}}</b></div>
        <div class="col-sm-4">
            <!--white background behind radio buttons-->
            <div style="margin:auto;text-align:center;position:relative;width:420px;height:7em;background:white;border-radius: 5px">
                <form style="position:absolute">
                    <!--border:none must be set on every table, tr, and td element to prevent annoying borders from appearing-->
                    <table class="table" style="border:none">
                        <tr style="border:none">
                            <td ng-repeat="opt in part.radioOptions" style="border:none">{{opt}}</td>
                        </tr>
                        <!--values in Q5 range from -10 to 10 in increments of 5-->
                        <tr style="border:none">
                            <td style="border:none"><label><input type="radio" ng-model="page.responses.d[part.partNum].v" value="-10"></label></td>
                            <td style="border:none"><label><input type="radio" ng-model="page.responses.d[part.partNum].v" value="-5"></label></td>
                            <td style="border:none"><label><input type="radio" ng-model="page.responses.d[part.partNum].v" value="0"></label></td>
                            <td style="border:none"><label><input type="radio" ng-model="page.responses.d[part.partNum].v" value="5"></label></td>
                            <td style="border:none"><label><input type="radio" ng-model="page.responses.d[part.partNum].v" value="10"></label></td>
                        </tr>
                    </table>
                </form>

            </div>
            <br>

        </div>
        <div class="col-sm-2"></div>

    </div>
</div>