<!--Despite the name, the pairs are buttons, not sliders. Used in Q6.-->

<div class="container-fluid">
<!--table borders have thick black separators between pairs to avoid confusion-->
    <table class="table" style="border: 2px solid #080808;
  border-right-width:0px;
  border-left-width:0px;" ng-controller="PairController as pair">
        <tr class="container-fluid" style="border: 2px solid #aaa;
  border-right-width:0px;
  border-left-width:0px;" ng-repeat="part in group.parts">
            <!--buttons begin with default bootstrap classes. pair.showSelection(part) uses the button's ID to change its style
            and indicate selection.
            white-space: normal ensures proper text wrapping-->
            <td class="col-md-5"><button class="btn btn-default btn-block"
                                         id="pair{{part.partNum}}-0"
                                         ng-click="pair.showSelection(part); pair.storeValue(part,page);"
                                         style="min-width: 50px; white-space: normal">{{part.sliderPair[0]}}</button></td>
            <td class="col-md-2">VS</td>
            <td class="col-md-5"><button class="btn btn-default btn-block"
                                         id="pair{{part.partNum}}-1"
                                         ng-click="pair.showSelection2(part); pair.storeValue2(part,page)"
                                         style="min-width: 50px; white-space: normal">{{part.sliderPair[1]}}</button></td>
        </tr>
    </table>
</div>
