<!--Used in Q4 and Q9 with a URL token. The most straightforward file there is.
Font size ensures that mobile screens do not zoom in while typing.-->
<textarea class="form-control" style="background-color:#ffffff;font-size:16px" rows=5 ng-model="page.responses.d[group.parts[0].partNum].v"></textarea>
<br><br>