<!--Used in Q8.-->

<div class="row" style="margin:0;margin-bottom:2em">
    <div class="col-sm-3" style="padding:0px"></div>
    <!--Styling in the <div> and <b> tags ensures that the text is centered compared to the radio buttons-->
    <div class="col-sm-3" style="height:6em;line-height: 6em; text-align: center;padding:0px">
        <b style="display: inline-block;vertical-align: middle;line-height: normal;">{{group.parts[0].label}}</b>
    </div>
    <div class="col-sm-3" style="padding:0px">
        <!--white background behind question to show that the two parts are separate-->
        <div style="background-color:#ffffff;border-radius:5px">
            <!--table ensures that radio buttons and options are properly lined up-->
            <table class="table" style="background:transparent;max-width:250px;margin:auto;border:none">
                <tr ng-repeat="opt in group.parts[0].radioOptions" style="border: none;">
                    <td style="border: none; padding:2px">
                        <label>
                            <input type="radio" ng-model="page.responses.d[group.parts[0].partNum].v" value="{{opt}}">
                        </label>
                    </td>
                    <td style="text-align:left;border: none; padding:2px">{{opt}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-sm-3" style="padding:0px"></div>
</div>

<!--this is pretty much the same thing with the part number changed-->
<div class="row" style="margin:0;margin-bottom:2em">
    <div class="col-sm-3" style="padding:0px"></div>
    <div class="col-sm-3" style="height:10em;line-height: 10em; text-align: center;padding:0px">
        <b style="display: inline-block;vertical-align: middle;line-height: normal;">{{group.parts[1].label}}</b>
    </div>
    <div class="col-sm-3" style="padding:0px">
        <div style="background-color:#ffffff;border-radius:5px">
            <table class="table" style="background:transparent;max-width:250px;margin:auto;border:none">
                <tr ng-repeat="opt in group.parts[1].radioOptions" style="border: none;">
                    <td style="border: none; padding:2px">
                        <label>
                            <input type="radio" ng-model="page.responses.d[group.parts[1].partNum].v" value="{{opt}}">
                        </label>
                    </td>
                    <td style="text-align:left;border: none; padding:2px">{{opt}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-sm-3" style="padding:0px"></div>
</div>

<!--<div class="row" style="margin-bottom:2em">-->
    <!--<div class="col-sm-3" style="padding:0px"></div>-->
    <!--<div class="col-sm-3" style="padding:0px">-->
        <!--<b>{{group.parts[1].label2}}</b>-->
    <!--</div>-->
    <!--<div class="col-sm-3"style="padding:0px" >-->
        <!--<input class="form-control" type="number" min="16" max="100" style="font-size:16px" ng-model="page.responses.d[group.parts[1].partNum].v"/>-->
    <!--</div>-->
    <!--<div class="col-sm-3" style="padding:0px"></div>-->
<!--</div>-->