<!--This is for Q7-->

<!--initialize the selectedPics variable depending on how many pictures there are-->
<div ng-controller="ThumbnailController as thumbnail"
     ng-init="thumbnail.selectedPics=thumbnail.convertPics(group.parts[0].imagePairs)"
     style="margin:auto;margin-bottom:50px">
    <div class="row" ng-repeat="imgRow in group.parts[0].imagePairs">
        <!--number of images per row is actually hard-coded in imagePairs. right now each imgRow has four images-->
        <div class="col-sm-3" ng-repeat="image in imgRow" style="margin-bottom:25px">
            <a href ng-click="thumbnail.toggleCheck(group.parts[0].imagePairs.indexOf(imgRow),imgRow.indexOf(image));
                              page.responses.d[group.parts[0].partNum].v=thumbnail.csvOutput(group.parts[0].serviceNames);">
                <img src="{{image[thumbnail.selectedPics[group.parts[0].imagePairs.indexOf(imgRow)][imgRow.indexOf(image)]]}}">
            </a>
        </div>
    </div>
</div>




