<!--Used for Q1, Q2, and Q3-->

<!--table ensures that buttons and responses are properly aligned-->
<table class="table" style="max-width:250px;margin:auto; border:transparent">
    <tr ng-repeat="opt in group.parts[0].radioOptions" style="border:transparent">

        <td style="border:transparent"><label><input type="radio" ng-model="page.responses.d[group.parts[0].partNum].v" value="{{opt}}"></label></td>
        <td style="text-align:left;border:transparent">{{opt}}</td>

    </tr>

</table>