<!--Only used for Q9 without a ?token= in the url-->

<div ng-show="!page.hasToken">
    <div class="row" style="margin-bottom:2em">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="vertical-align:middle">
            <b>{{group.parts[0].label}}</b>
        </div>
        <div class="col-sm-4" style="vertical-align:middle">
            <select style="width:100%;font-size:16px" ng-model="page.responses.d[group.parts[0].partNum].v">
                <option ng-repeat="state in group.parts[0].states" value="{{state}}">{{state}}</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" style="margin-bottom:2em"> <!--ng-show="page.responses.d[group.parts[0].partNum].v != group.parts[0].defaultValue"--> <!--this comment is a leftover - displays the next part iff the state has been selected-->
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <b>{{group.parts[1].label}}</b>
        </div>
        <div class="col-sm-4">
            <select style="width:100%;font-size:16px" ng-model="page.responses.d[group.parts[1].partNum].v">
                <option ng-repeat="store in group.parts[1].storesList[group.parts[0].states.indexOf(page.responses.d[group.parts[0].partNum].v)]"
                        value="{{store}}">{{store}}</option>
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" style="margin-bottom:2em">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <b>{{group.parts[2].label}}</b>
        </div>
        <div class="col-sm-4">
            <input class="form-control" style="font-size:16px" ng-model="page.responses.d[group.parts[2].partNum].v"/>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" style="margin-bottom:2em">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <b>{{group.parts[3].label}}</b>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="datepicker" style="font-size:16px" ng-model="page.responses.d[group.parts[3].partNum].v"/>
        </div>
        <script>
            $(function() {
                $( "#datepicker" ).datepicker({maxDate: "0D"});
            });
        </script>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" style="margin-bottom:2em">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <b>{{group.parts[4].label}}</b>
        </div>
        <div class="col-sm-4">
            <input class="form-control" style="font-size:16px" ng-model="page.responses.d[group.parts[4].partNum].v"/>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row" style="margin-bottom:2em">
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <b>{{group.parts[5].label}}</b>
        </div>
        <div class="col-sm-4">
            <textarea class="form-control" style="background-color:#ffffff;font-size:16px"
                      rows=5 ng-model="page.responses.d[group.parts[5].partNum].v"></textarea>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>


<br><br>